<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/start.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         testdox="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
            <exclude>tests/RachieTest.php</exclude>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>application</directory>
            <directory>system</directory>
        </include>
    </source>
</phpunit>
